@page
@model MechanicPortal.Pages.Employees.ListModel

@{
    ViewData["Title"] = "List";
}

<h1>Employee Manager</h1>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Employee[0].EmployeeId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Employee[0].LastName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Employee[0].Country)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Employee[0].Active)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Employee) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.EmployeeId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LastName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Country)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Active)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.EmployeeId">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.EmployeeId">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.EmployeeId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
