@page
@model MechanicPortal.Pages.Vehicles.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Vehicle</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Vehicle.Make)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Vehicle.Make)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Vehicle.Model)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Vehicle.Model)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Vehicle.EngineS)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Vehicle.EngineS)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Vehicle.FirstRegistered)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Vehicle.FirstRegistered)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Vehicle.IsRegistered)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Vehicle.IsRegistered)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Vehicle.IsMOTd)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Vehicle.IsMOTd)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Vehicle.MOTTime)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Vehicle.MOTTime)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Vehicle.Price)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Vehicle.Price)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.Vehicle.Id">Edit</a> |
    <a asp-page="./Index">Back to List</a>
</div>
